[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
end_of_line = lf

[*.{yml,yaml}]
indent_size = 2
end_of_line = lf

[*.ini]
indent_size = 4
end_of_line = lf

[*.{sh,bash,zsh,csh,ksh,fish}]
indent_style = space
indent_size = 4
end_of_line = lf

[*.{ps1,psm1,psd1,ps1xml,psc1,pssc,psrc,bat,cmd}]
indent_style = space
indent_size = 4
end_of_line = crlf

[*.{tf,tfvars,hcl}]
indent_style = space
indent_size = 2
end_of_line = lf

[*.py]
indent_style = space
indent_size = 4
